<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
    <div class="container">
      <h2 class="text-center mt-0">{{ section.title }}</h2>
      <hr class="divider my-4">
      <div class="row justify-content-center">
        {% for event in section.events %}
        <div class="col-lg-3 col-md-6 text-center">
          <div class="member-box" style="border: solid; background-color: white">
            <h3 class="h4 mb-2">{{event.time}}</h3>
            <p class="text-white-50 mb-0">{{ event.title | newline_to_br | markdownify }}</p>
            <p class="h4 mb-2">{{event.et}}</p>
            {% if event.abstract %}
            <p class="text-white-50 mb-0">
              <details>
                <summary></summary>
                {{ event.abstract | newline_to_br | markdownify }}
              </details>
            </p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
